# Create inputfiles for RR

In this Notebook, the inputfiles of D-RR are created.

## Import required packages

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from datetime import timedelta

## Precipitation

### Open subcatchment mean data

In [2]:
folder1 = r"C:\Users\924259\OneDrive - Royal HaskoningDHV\Documents\Master thesis Daan Idsinga\Data\Precipitation - NRR"

In [3]:
cal_precip_mean = pd.read_csv(f'{folder1}/Subcatchments/calibration_precipitation_mean.csv',index_col=[0],parse_dates=[0])
val_precip_mean = pd.read_csv(f'{folder1}/Subcatchments/validation_precipitation_mean.csv',index_col=[0],parse_dates=[0])

### Select correct time period

In [9]:
cal_precip_mean = cal_precip_mean['2019-01-01':'2020-07-01 00:00:00']

In [10]:
val_precip_mean = val_precip_mean['2021-01-01':'2021-08-01 00:00:00']

### Inspect data

In [6]:
cal_precip_mean.index

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2020-06-30 15:00:00', '2020-06-30 16:00:00',
               '2020-06-30 17:00:00', '2020-06-30 18:00:00',
               '2020-06-30 19:00:00', '2020-06-30 20:00:00',
               '2020-06-30 21:00:00', '2020-06-30 22:00:00',
               '2020-06-30 23:00:00', '2020-07-01 00:00:00'],
              dtype='datetime64[ns]', name='time', length=13129, freq=None)

In [7]:
val_precip_mean.index

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               ...
               '2021-07-31 15:00:00', '2021-07-31 16:00:00',
               '2021-07-31 17:00:00', '2021-07-31 18:00:00',
               '2021-07-31 19:00:00', '2021-07-31 20:00:00',
               '2021-07-31 21:00:00', '2021-07-31 22:00:00',
               '2021-07-31 23:00:00', '2021-08-01 00:00:00'],
              dtype='datetime64[ns]', name='time', length=5089, freq=None)

### Calculate the number of timesteps

In [4]:
np.round(5089/24)

212.0

### Download the .bui files

In [8]:
np.savetxt(f'{folder1}/Subcatchments/default_cal.bui',cal_precip_mean, delimiter = ' ', fmt='%s')

In [10]:
np.savetxt(f'{folder1}/Subcatchments/default_val.bui',val_precip_mean, delimiter = ' ', fmt='%s')

Open the saved .bui file and paste the text in the cell below in the beginning of the .bui file. Manually add and adjusted the start date and time: (difference of one day because of schrikkeljaar). And choose the corresponding time period, so remove the one you do not need.

* Created: 09/10/2023 09:54:00
* Use the default data set for other input (always 1) 
1
*Aantal stations
6
*Namen van stations
'Hommerich'
'Partij'
'Eys'
'Sippenaeken'
'Meerssen'
'Azijnfabriek'
* Number of events and the period in seconds 
1 3600 
* The first record contains the start date and time (yyyy mm dd HH mm ss), * followed by the length of the event (dd HH mm ss). 
* The last part is the data for each time step.
2020 01 01 00 00 00 182 01 00 00  ### Calibration period
2021 01 01 00 00 00 212 01 00 00  ### Validation period

## Potential Evaporation

### Open the potential evaporation data and select the time periods

In [11]:
maastricht_daily = pd.read_csv(f'{folder1}/Maastricht_daily.csv',index_col=[0],parse_dates=[0])
maastricht_daily.index.names = ['time']
maastricht_daily.tz_localize(None)
cal_maastricht_daily = maastricht_daily['2019-01-01':'2020-07-01 00:00:00']
val_maastricht_daily = maastricht_daily['2021-01-01':'2021-08-01 00:00:00']

### Create potential evaporation dataframes

D-RR wants the potential evaporation as year, month, day, station. The Geul D-RR model consists of 6 stations, which contain equal values in this case.

#### Calibration period

In [12]:
maastricht_daily_cal = pd.DataFrame()
maastricht_daily_cal['year'] = cal_maastricht_daily.index.year
maastricht_daily_cal['month'] = cal_maastricht_daily.index.month
maastricht_daily_cal['day'] = cal_maastricht_daily.index.day
maastricht_daily_cal['EV1'] = cal_maastricht_daily.values
maastricht_daily_cal['EV2'] = cal_maastricht_daily.values
maastricht_daily_cal['EV3'] = cal_maastricht_daily.values
maastricht_daily_cal['EV4'] = cal_maastricht_daily.values
maastricht_daily_cal['EV5'] = cal_maastricht_daily.values
maastricht_daily_cal['EV6'] = cal_maastricht_daily.values

In [13]:
maastricht_daily_cal

     year  month  day  EV1  EV2  EV3  EV4  EV5  EV6
0    2019      1    1  0.1  0.1  0.1  0.1  0.1  0.1
1    2019      1    2  0.3  0.3  0.3  0.3  0.3  0.3
2    2019      1    3  0.2  0.2  0.2  0.2  0.2  0.2
3    2019      1    4  0.1  0.1  0.1  0.1  0.1  0.1
4    2019      1    5  0.1  0.1  0.1  0.1  0.1  0.1
..    ...    ...  ...  ...  ...  ...  ...  ...  ...
543  2020      6   27  3.4  3.4  3.4  3.4  3.4  3.4
544  2020      6   28  2.8  2.8  2.8  2.8  2.8  2.8
545  2020      6   29  3.8  3.8  3.8  3.8  3.8  3.8
546  2020      6   30  2.8  2.8  2.8  2.8  2.8  2.8
547  2020      7    1  1.8  1.8  1.8  1.8  1.8  1.8

[548 rows x 9 columns]

#### Validation period

In [14]:
maastricht_daily_val = pd.DataFrame()
maastricht_daily_val['year'] = val_maastricht_daily.index.year
maastricht_daily_val['month'] = val_maastricht_daily.index.month
maastricht_daily_val['day'] = val_maastricht_daily.index.day
maastricht_daily_val['EV1'] = val_maastricht_daily.values
maastricht_daily_val['EV2'] = val_maastricht_daily.values
maastricht_daily_val['EV3'] = val_maastricht_daily.values
maastricht_daily_val['EV4'] = val_maastricht_daily.values
maastricht_daily_val['EV5'] = val_maastricht_daily.values
maastricht_daily_val['EV6'] = val_maastricht_daily.values

In [15]:
maastricht_daily_val

     year  month  day  EV1  EV2  EV3  EV4  EV5  EV6
0    2021      1    1  0.3  0.3  0.3  0.3  0.3  0.3
1    2021      1    2  0.1  0.1  0.1  0.1  0.1  0.1
2    2021      1    3  0.1  0.1  0.1  0.1  0.1  0.1
3    2021      1    4  0.1  0.1  0.1  0.1  0.1  0.1
4    2021      1    5  0.1  0.1  0.1  0.1  0.1  0.1
..    ...    ...  ...  ...  ...  ...  ...  ...  ...
208  2021      7   28  3.6  3.6  3.6  3.6  3.6  3.6
209  2021      7   29  3.3  3.3  3.3  3.3  3.3  3.3
210  2021      7   30  3.4  3.4  3.4  3.4  3.4  3.4
211  2021      7   31  2.5  2.5  2.5  2.5  2.5  2.5
212  2021      8    1  1.9  1.9  1.9  1.9  1.9  1.9

[213 rows x 9 columns]

### Save the .evp files

In [15]:
np.savetxt(f'{folder1}/Subcatchments/default_cal.evp',maastricht_daily_cal, delimiter = ' ', fmt='%s')

In [16]:
np.savetxt(f'{folder1}/Subcatchments/default_val.evp',maastricht_daily_val, delimiter = ' ', fmt='%s')